:root {
    --font-size: 16px;
}

body {
    margin: 0;
    background-color: #222222;
    color: white;
}

.chatPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    background-color: #888888;
    padding: 10px;
    font-size: var(--font-size);
    color: #222222;
    font-weight: bold;
}

.button:hover {
    background-color: #ababab;
}

.chat-messages-list {
    height: calc(100% - 80px);
}

.chat-message {

}

.chat-input {
    height: 25px;
    background-color: #444444;
    font-size: var(--font-size);
    color: white;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}