:root {
    --font-size: 16px;

    --background-color: #222222;
    --text-color: #eeeeee;
    --button-color: #888888;
    --button-hover-color: #ababab;
    --text-input-background-color: #444444;
    --message-hover-color: #444444;
}

:root.light-theme {
    --text-color: #000000;
    --background-color: #f0f0f0;
    --button-color: #406be9;
    --button-hover-color: #40abe9;
    --text-input-background-color: #ffffff;
    --message-hover-color: #dddddd;
}

.chat-send-form__input, .chat-send-form__button, .name-box__input, .name-box__icon, .chat-message__name, .chat-message__text, .theme-switch, body {
    transition: color 0.2s, background-color 0.2s;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, sans-serif;
}


/* ChatPage */
.chat-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chat-main {
    height: 100vh;
    min-width: 400px;
    width: 60%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

/* MessageList */
.chat-messages-list {
    overflow: auto;
    max-height: calc(100% - 80px);
}

.chat-messages-list::-webkit-scrollbar {
    width: 20px;
}

.chat-messages-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-messages-list::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.chat-messages-list::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

/* Message */
.chat-message {
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chat-message:hover {
    background-color: var(--message-hover-color);
}

.chat-message__name, .chat-message__date {
    opacity: 0.3;
    font-size: 14px;
}

.chat-message__date {
    min-width: 80px;
    margin-left: 10px;
}

.chat-message__text {
    word-break: break-word;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* MessageForm */
.chat-send-form {
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.chat-send-form__input {
    height: 28px;
    background-color: var(--text-input-background-color);
    font-size: var(--font-size);
    color: var(--text-color);
    padding: 2px 5px;
    border-radius: 5px;
    outline: none;
    flex-grow: 1;
    margin-right: 10px;
}

.chat-send-form__button {
    cursor: pointer;
    color: var(--button-color);
    font-size: 29px;
    border: none;
    background: none;
}

.chat-send-form__button:hover {
    color: var(--button-hover-color);
}

/* Username */
.name-box {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
    margin-right: 10px;
}

.name-box:hover .name-box__icon {
    color: var(--button-hover-color);
}

.name-box__icon {
    color: var(--button-color);
}

.name-box__input {
    background: none;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: var(--font-size);
    text-align: end;
    margin-right: 10px;
}

/* ThemeSwitch */
.theme-switch {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 10px;
    color: var(--button-color);
    font-size: 20px;
}

.theme-switch:hover {
    color: var(--button-hover-color);
}